:root{
    --primary-color: #1f242d;
    --secondary-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
    --gutter-padding: 6rem 5rem;
    --text-size:
    --bold:
    --all-margin:

}
/* font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Viga', sans-serif; */